## Proyecto III: Visualización de datos
## Yuniel Antonio Villalón Rosales
##### Primera Parte: Análisis de Datos

In [1]:
import os
import pandas as pd
import seaborn as sb

a.  Vaciar los datos del fichero barca.csv en un dataframe. Debe mostrar los encabezados de los datos y describir la cantidad de alojamientos disponibles.

In [2]:
cols = ["room_type","neighborhood", "price", "reviews", "overall_satisfaction", "accommodates"]
df = pd.read_csv("data/barca.csv", usecols=cols)
df

,room_type,neighborhood,reviews,overall_satisfaction,accommodates,price
0,Shared room,Eixample,27,4.5,10,264.0
1,Shared room,Sants-Montjuïc,13,4.0,12,129.0
2,Shared room,Sants-Montjuïc,11,4.0,12,129.0
3,Shared room,Eixample,9,5.0,2,72.0
4,Shared room,Eixample,10,5.0,2,64.0
...,...,...,...,...,...,...
12628,Private room,Eixample,5,4.5,1,21.0
12629,Private room,Gràcia,35,4.5,1,24.0
12630,Private room,Gràcia,9,4.5,1,24.0
12631,Private room,Eixample,4,5.0,2,34.0
12632,Private room,Sants-Montjuïc,5,5.0,1,23.0

b. Mostrar la información del dataset, debe realizar una breve descripción de los datos nombre, tipo de datos y si existen valores nulos, cantidad de atributos numéricos y categóricos (objectos o texto)

In [3]:
info = df.info()
info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12633 entries, 0 to 12632
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_type             12633 non-null  object
 1   neighborhood          12633 non-null  object
 2   reviews               12633 non-null  int64
 3   overall_satisfaction  12633 non-null  float64
 4   accommodates          12633 non-null  int64
 5   price                 12633 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 592.3+ KB

In [4]:
descrip = df.describe()
descrip

            reviews  overall_satisfaction  accommodates         price
count  12633.000000          12633.000000  12633.000000  12633.000000
mean      36.560754              4.560239      3.384707    101.214913
std       43.818590              0.410359      2.220763     99.205871
min        3.000000              1.000000      1.000000     10.000000
25%        8.000000              4.500000      2.000000     46.000000
50%       19.000000              4.500000      2.000000     75.000000
75%       48.000000              5.000000      4.000000    122.000000
max      457.000000              5.000000     16.000000   3606.000000

c. Mostrar los datos estadísticos del dataset, describa los resultados obtenidos para Price.

In [5]:
descrip["price"]

count    12633.000000
mean       101.214913
std         99.205871
min         10.000000
25%         46.000000
50%         75.000000
75%        122.000000
max       3606.000000
Name: price, dtype: float64

d. Mostrar la cantidad de alojamientos que existe para cada tipo de alojamiento (room_type) cantidad y porcentaje.

In [6]:
cant = df["room_type"].value_counts()
c_p = pd.DataFrame(cant)
c_p["percentage"] = c_p["room_type"]/len(df)*100
c_p

                 room_type  percentage
Private room          6526   51.658355
Entire home/apt       6024   47.684635
Shared room             83    0.657009

e. Mostrar un gráfico % alojamientos que existe para cada tipo de alojamiento (room_type)