## Proyecto III: Visualización de datos
## Yuniel Antonio Villalón Rosales
##### Primera Parte: Análisis de Datos

In [6]:
import os
import pandas as pd

a.  Vaciar los datos del fichero barca.csv en un dataframe. Debe mostrar los encabezados de los datos y describir la cantidad de alojamientos disponibles.

In [19]:
df = pd.read_csv("data/barca.csv")
df

,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price,latitude,longitude
0,Shared room,Eixample,27,4.5,10,1.0,264.0,41.391617,2.162516
1,Shared room,Sants-Montjuïc,13,4.0,12,1.0,129.0,41.373268,2.170138
2,Shared room,Sants-Montjuïc,11,4.0,12,1.0,129.0,41.372360,2.169215
3,Shared room,Eixample,9,5.0,2,1.0,72.0,41.391836,2.154014
4,Shared room,Eixample,10,5.0,2,1.0,64.0,41.387623,2.148761
...,...,...,...,...,...,...,...,...,...
12628,Private room,Eixample,5,4.5,1,1.0,21.0,41.401955,2.179347
12629,Private room,Gràcia,35,4.5,1,1.0,24.0,41.406084,2.153433
12630,Private room,Gràcia,9,4.5,1,1.0,24.0,41.405000,2.159139
12631,Private room,Eixample,4,5.0,2,1.0,34.0,41.394932,2.154505
12632,Private room,Sants-Montjuïc,5,5.0,1,1.0,23.0,41.368300,2.141541

b. Mostrar la información del dataset, debe realizar una breve descripción de los datos nombre, tipo de datos y si existen valores nulos, cantidad de atributos numéricos y categóricos (objectos o texto)

In [28]:
info = df.info()
info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12633 entries, 0 to 12632
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   room_type             12633 non-null  object
 1   neighborhood          12633 non-null  object
 2   reviews               12633 non-null  int64
 3   overall_satisfaction  12633 non-null  float64
 4   accommodates          12633 non-null  int64
 5   bedrooms              12633 non-null  float64
 6   price                 12633 non-null  float64
 7   latitude              12633 non-null  float64
 8   longitude             12633 non-null  float64
dtypes: float64(5), int64(2), object(2)
memory usage: 888.4+ KB

In [29]:
descrip = df.describe()
descrip

,reviews,overall_satisfaction,accommodates,bedrooms,price,latitude,longitude
count,12633.000000,12633.000000,12633.000000,12633.000000,12633.000000,12633.000000,12633.000000
mean,36.560754,4.560239,3.384707,1.535661,101.214913,41.392161,2.167727
std,43.818590,0.410359,2.220763,0.964957,99.205871,0.014901,0.017873
min,3.000000,1.000000,1.000000,0.000000,10.000000,41.351784,2.088379
25%,8.000000,4.500000,2.000000,1.000000,46.000000,41.380395,2.157068
50%,19.000000,4.500000,2.000000,1.000000,75.000000,41.389284,2.168013
75%,48.000000,5.000000,4.000000,2.000000,122.000000,41.402439,2.178273
max,457.000000,5.000000,16.000000,10.000000,3606.000000,41.465618,2.227329