In [5]:
import os
import pandas as pd

In [8]:
df = pd.read_csv("barca.csv")

In [11]:
des = df.describe()
des

,reviews,overall_satisfaction,accommodates,bedrooms,price,latitude,longitude
count,12633.000000,12633.000000,12633.000000,12633.000000,12633.000000,12633.000000,12633.000000
mean,36.560754,4.560239,3.384707,1.535661,101.214913,41.392161,2.167727
std,43.818590,0.410359,2.220763,0.964957,99.205871,0.014901,0.017873
min,3.000000,1.000000,1.000000,0.000000,10.000000,41.351784,2.088379
25%,8.000000,4.500000,2.000000,1.000000,46.000000,41.380395,2.157068
50%,19.000000,4.500000,2.000000,1.000000,75.000000,41.389284,2.168013
75%,48.000000,5.000000,4.000000,2.000000,122.000000,41.402439,2.178273
max,457.000000,5.000000,16.000000,10.000000,3606.000000,41.465618,2.227329