# Base de Datos Relacionales

## SQLite

In [18]:
# Librerías

import sqlite3

PATH_DATA = r'C:\Users\msierra\Desktop\SQLDatabase'

In [19]:
# Conectarse a la base de datos

conn = sqlite3.connect( PATH_DATA + '\\test.db') # Si no existe, creará la base de datos. 
print("Abierta la conexión a la Base de Datos ");

Abierta la conexión a la Base de Datos

In [20]:
# Crear una tabla

conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Tabla creada...");

OperationalError: table COMPANY already exists

In [ ]:
# Insertar registros (INSERT INTO)

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()  # Este método confirma la transacción actual 

print("Registros creados...");

In [21]:
# Muestra todos los registros de la tabla COMPANY
cursor = conn.execute('SELECT * FROM COMPANY')
rows = cursor.fetchall() # recupera todas las filas del resultado de una consulta y devuelve una lista
for row in rows:
    print(row)

(1, 'Paul', 32, 'California', 25000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)
(5, 'Peter', 32, 'California', 20000.0)
(6, 'Peter', 32, 'California', 20000.0)

In [24]:
# Muestra todos los registros, únicamente las columnas name, address y salary

cursor = conn.execute("SELECT name, address, salary from COMPANY")
print("-----------------------------")
for row in cursor:
    print("NAME = ", row[0])
    print("ADDRESS = ", row[1])
    print("SALARY = ", row[2])
    print("-----------------------------")

-----------------------------
NAME =  Paul
ADDRESS =  California
SALARY =  25000.0
-----------------------------
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0
-----------------------------
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0
-----------------------------
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0
-----------------------------
NAME =  Peter
ADDRESS =  California
SALARY =  20000.0
-----------------------------
NAME =  Peter
ADDRESS =  California
SALARY =  20000.0
-----------------------------

In [5]:
# Muestra los registros donde dirección sea igual a California

cursor = conn.execute("SELECT name, address, salary from COMPANY WHERE address = 'California'")
print("-----------------------------")
for row in cursor:
    print("NAME = ", row[0])
    print("ADDRESS = ", row[1])
    print("SALARY = ", row[2])
    print("-----------------------------")

-----------------------------
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0
-----------------------------
NAME =  Peter
ADDRESS =  California
SALARY =  20000.0
-----------------------------
NAME =  Peter
ADDRESS =  California
SALARY =  20000.0
-----------------------------

In [6]:
# Muestra los registros donde el salario sea menor o igual a 20000

cursor = conn.execute("SELECT name, address, salary from COMPANY WHERE salary <= 20000")
print("-----------------------------")
for row in cursor:
    print("NAME = ", row[0])
    print("ADDRESS = ", row[1])
    print("SALARY = ", row[2])
    print("-----------------------------")

-----------------------------
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0
-----------------------------
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0
-----------------------------
NAME =  Teddy
ADDRESS =  Norway
SALARY =  20000.0
-----------------------------
NAME =  Peter
ADDRESS =  California
SALARY =  20000.0
-----------------------------
NAME =  Peter
ADDRESS =  California
SALARY =  20000.0
-----------------------------

In [7]:
cursor = conn.execute("SELECT * from COMPANY LIMIT 2")
print("-----------------------------")
for row in cursor:
    print("NAME = ", row[0])
    print("ADDRESS = ", row[1])
    print("SALARY = ", row[2])
    print("-----------------------------")

-----------------------------
NAME =  1
ADDRESS =  Paul
SALARY =  32
-----------------------------
NAME =  2
ADDRESS =  Allen
SALARY =  25
-----------------------------

In [8]:
cursor = conn.execute('SELECT * FROM COMPANY ORDER BY SALARY ASC') # Todos los registros ordenados por Salario 
rows = cursor.fetchall() 
for row in rows:
    print(row)

(2, 'Allen', 25, 'Texas', 15000.0)
(1, 'Paul', 32, 'California', 20000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(5, 'Peter', 32, 'California', 20000.0)
(6, 'Peter', 32, 'California', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)

In [12]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (6, 'Peter', 32, 'California', 20000.00 )");
conn.commit()

In [9]:
cursor = conn.execute('SELECT * FROM COMPANY ORDER BY NAME, SALARY ASC') # Todos los registros ordenados por Nombre y Salario 
rows = cursor.fetchall() 
for row in rows:
    print(row)

(2, 'Allen', 25, 'Texas', 15000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)
(1, 'Paul', 32, 'California', 20000.0)
(5, 'Peter', 32, 'California', 20000.0)
(6, 'Peter', 32, 'California', 20000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)

In [10]:
# Muestra la suma de los salarios agrupados por nombre

cursor = conn.execute('SELECT NAME, SUM(SALARY) FROM COMPANY GROUP BY NAME;') # Todos los registros ordenados por Nombre y Salario 
rows = cursor.fetchall() 
for row in rows:
    print(row)

('Allen', 15000.0)
('Mark', 65000.0)
('Paul', 20000.0)
('Peter', 40000.0)
('Teddy', 20000.0)

In [ ]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (5, 'Peter', 32, 'California', 20000.00 )");
conn.commit()

In [11]:
# Muestra la cantidad personas por Address

cursor = conn.execute('SELECT ADDRESS, COUNT(NAME) FROM COMPANY GROUP BY ADDRESS ORDER BY NAME') # Todos los registros ordenados por Nombre y Salario 
rows = cursor.fetchall() 
for row in rows:
    print(row)

('Texas', 1)
('Rich-Mond ', 1)
('California', 3)
('Norway', 1)

In [12]:
# Muestra las direcciones con mas de 2 empleados

cursor = conn.execute('SELECT address, count(name) FROM COMPANY GROUP BY address HAVING count(address) > 2 ') 
rows = cursor.fetchall() 
for row in rows:
    print(row)

('California', 3)

In [13]:
# Muestra los registros únicos en dirección

cursor = conn.execute('SELECT DISTINCT address FROM COMPANY') 
rows = cursor.fetchall() 
for row in rows:
    print(row)

('California',)
('Texas',)
('Norway',)
('Rich-Mond ',)

In [14]:
# Muestra todos los registros de la tabla COMPANY - sqlite3.Row

cursor = conn.execute('SELECT * FROM COMPANY')
cursor.row_factory = sqlite3.Row
rows_f = cursor.fetchall() # recupera todas las filas del resultado de una consulta y devuelve una lista
for row in rows_f:
    print(f'Nombre {row["name"]}, Dirección: {row["address"]}, Salario {row["salary"]}')

Nombre Paul, Dirección: California, Salario 20000.0
Nombre Allen, Dirección: Texas, Salario 15000.0
Nombre Teddy, Dirección: Norway, Salario 20000.0
Nombre Mark, Dirección: Rich-Mond , Salario 65000.0
Nombre Peter, Dirección: California, Salario 20000.0
Nombre Peter, Dirección: California, Salario 20000.0

In [15]:
# Muestra todos los registros de la tabla COMPANY

cursor = conn.execute('SELECT * FROM COMPANY')
cursor.row_factory = lambda cur, reg: 'Nombre {} con Salario {}'.format(reg[1], reg[4])
rows_f = cursor.fetchall() 
for row in rows_f :
    print(row)

Nombre Paul con Salario 20000.0
Nombre Allen con Salario 15000.0
Nombre Teddy con Salario 20000.0
Nombre Mark con Salario 65000.0
Nombre Peter con Salario 20000.0
Nombre Peter con Salario 20000.0

In [26]:
# Muestra todos los registros de la tabla COMPANY donde los nombres de los clientes comiencen por P

cursor = conn.execute("SELECT * FROM COMPANY WHERE name LIKE 'P%'")
rows_f = cursor.fetchall() 
for row in rows_f :
    print(row)

(1, 'Paul', 32, 'California', 25000.0)
(5, 'Peter', 32, 'California', 20000.0)
(6, 'Peter', 32, 'California', 20000.0)

In [16]:
# Muestra todas las tablas de la BBDD

cursorObj = conn.cursor()
cursorObj.execute('SELECT name from sqlite_master where type= "table"')
print(cursorObj.fetchall())

[('COMPANY',)]

In [17]:
# Actualiza el salario de los empleados con ID = 1

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit()

print("Total de registros actualizados: ", conn.total_changes)

cursor = conn.execute('SELECT * FROM COMPANY')
rows = cursor.fetchall() # recupera todas las filas del resultado de una consulta y devuelve una lista
for row in rows:
    print(row)

Total de registros actualizados:  1
(1, 'Paul', 32, 'California', 25000.0)
(2, 'Allen', 25, 'Texas', 15000.0)
(3, 'Teddy', 23, 'Norway', 20000.0)
(4, 'Mark', 25, 'Rich-Mond ', 65000.0)
(5, 'Peter', 32, 'California', 20000.0)
(6, 'Peter', 32, 'California', 20000.0)

In [ ]:
# Elimina el empleado con ID = 2

conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()
print("Total registros eliminados: ", conn.total_changes)

cursor = conn.execute('SELECT * FROM COMPANY')
rows = cursor.fetchall() # recupera todas las filas del resultado de una consulta y devuelve una lista
for row in rows:
    print(row)

In [ ]:
conn.execute("DROP TABLE if exists COMPANY;")

In [ ]:
conn.execute("DROP TABLE COMPANY;")

In [ ]:
# Muestra todas las tablas

cursorObj = conn.cursor()
cursorObj.execute('SELECT name from sqlite_master where type= "table"')
print(cursorObj.fetchall())

In [ ]:
conn.close() # Antes de cerrar confirma todas las tranasacciones

In [ ]:
with obtenerConexion() as conexion:
    try:
        cursor = conexion.cursor()
        ## Ejecutamos operaciones de actualización ... ##
        conexion.commit() # confirmamos las operaciones y se inicia otra transacción
    except Exception:
        conexion.rollback() # se cancelan todas las operaciones
    finally:
        cursor.close()

### Conexiones ODBC

pip install pyodbc

In [1]:
import pyodbc

In [2]:
pyodbc.drivers()

['SQL Server']

In [35]:
DB_PATH

'C:\\Users\\msierra\\Desktop\\My Curso Python\\EntornoVirtual\\Ejercicios\\Ejemplos Clase\\Proyectos.accdb'

# SQLObject

In [1]:
from sqlobject import *
import os
from datetime import datetime

In [2]:
PATH_DATA = r'C:\Users\msierra\Desktop\SQLDatabase'
PATH_DATA

'C:\\Users\\msierra\\Desktop\\SQLDatabase'

In [3]:
# La crea en Memoria

cadenaURI = 'sqlite:/:memory:'
conexion = connectionForURI(cadenaURI)
sqlhub.processConnection = conexion

In [3]:
# La crea en disco

db_filename = os.path.abspath(PATH_DATA + '\Clientes2.db')
connection_string = 'sqlite:' + db_filename
connection = connectionForURI(connection_string)
sqlhub.processConnection = connection

In [5]:
class Person(SQLObject):
    firstName = StringCol()
    middleInitial = StringCol(length=1, default=None)
    lastName = StringCol()

In [6]:
Person.createTable(ifNotExists=True)

In [4]:
class Cliente(SQLObject):
    nombre = StringCol(length=100, default='', alternateID=True)  # Unico, not null y metodo byNombre
    direccion = StringCol()
    telefono = StringCol()

In [7]:
class Cliente(SQLObject):
    class sqlmeta:
        fromDatabase = True
    nombre = StringCol(length=100, default='', alternateID=True)  # Unico, not null y metodo byNombre
    direccion = StringCol()
    telefono = StringCol()

In [5]:
if not Cliente.tableExists():
    Cliente.createTable()

In [6]:
c1 = Cliente(nombre='Maria', direccion="Ronda de Nelle", telefono = "444444444")

In [7]:
c1

In [8]:
c1 = Cliente.get(1)
c2 = Cliente.get(1)

c1 is c2

True

In [9]:
c1.nombre

'Maria'

In [10]:
c1.direccion

'Ronda de Nelle'

In [11]:
c1.nombre = "Maria del Carmen"

In [12]:
c3 = Cliente(nombre='Ana', direccion="Primera Ronda", telefono = "44555554")
c3

In [13]:
c3 = Cliente.byNombre('Ana')
c3

In [14]:
## Modificar varias columnas

c3.set(nombre='Ana Lucia', direccion='Avenida A')
c3

In [15]:
## Deshabilita la actualización inmediata

Cliente.sqlmeta.lazyUpdate= True

In [16]:
maria = Cliente.get(1)
maria.nombre = 'MariCarmen'

In [17]:
if maria.sqlmeta.dirty:  # busca los cambios pendientes
    maria.sync()

In [22]:
Cliente.sqlmeta.lazyUpdate= False

In [23]:
Cliente.delete(1)

In [24]:
Cliente.deleteBy(nombre='Ana')

In [ ]:
Cliente.deleteMany(Cliente.q.id > 1)

In [18]:
c3 = Cliente(nombre='Alejandro', direccion="Ronda", telefono = "44555554")
c3

In [19]:
c4 = Cliente(nombre='Ana Rosa', direccion="Ronda", telefono = "44555554")
c4

In [20]:
c5 = Cliente(nombre='Manuel', direccion="Ronda", telefono = "44555554")
c5

### Consultas con SQLObject

In [21]:
# Mostrar todos los registros de la tabla clientes

resultado = Cliente.select()
list(resultado)

[<Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>]

In [22]:
# Mostrar todos los Clientes con nombre Alejandro

resultado = Cliente.select(Cliente.q.nombre == 'Alejandro')
list(resultado)

In [23]:
# Mostrar todos los Clientes con nombre Ana Rosa

resultado = Cliente.select(Cliente.q.nombre == 'Ana Rosa')
list(resultado)

In [24]:
# Mostrar todos los Clientes con id >= 1

resultado = Cliente.select(Cliente.q.id >= 1)
list(resultado)

[<Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>]

In [25]:
# Mostrar todos los Clientes con id >= 1

resultado = Cliente.select('Cliente.id >= 1')
list(resultado)

[<Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>]

In [26]:
# Mostrar el Cliente con id = 2

resultado = Cliente.selectBy(id = 2)
list(resultado)

In [27]:
# Mostrar el Cliente con id = 19

resultado = Cliente.select(Cliente.q.id==19).getOne('no existe') # retorna un registro o el valor por defecto sino existe
resultado

'no existe'

In [28]:
# Mostrar los Cliente con nombre igual a Alejandro o Ana Rosa

resultado = Cliente.select(OR(Cliente.q.nombre=='Ana Rosa', Cliente.q.nombre=='Alejandro') )
list(resultado)

[<Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>]

In [29]:
# Mostrar los Cliente con id > 2 y nombre diferente a Manuel

resultado = Cliente.select( AND(Cliente.q.id > 2, NOT(Cliente.q.nombre=='Manuel')) )
list(resultado)

[<Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>]

In [30]:
# Mostrar los Cliente con id > 0 y teléfono = 44555554

resultado = Cliente.select().filter(Cliente.q.id > 0).filter(Cliente.q.telefono == '44555554')
list(resultado)

[<Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>]

In [31]:
# Mostrar los Cliente con id > 0 y dirección = Ronda

resultado = Cliente.select().filter(Cliente.q.id > 0).filter(Cliente.q.direccion == 'Ronda')
list(resultado)

[<Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>]

In [32]:
# Mostrar los Cliente que su nombre comienza por Ana

resultado = Cliente.select( LIKE(Cliente.q.nombre, 'Ana%') )
list(resultado)

[<Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>]

In [33]:
# Mostrar los Cliente que su nombre comienza por la letra A

resultado = Cliente.select( LIKE(Cliente.q.nombre, 'A%') )
list(resultado)

[<Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>]

In [34]:
# Mostrar los Cliente que su nombre comienza por Ana y tiene un segundo nombre

resultado = Cliente.select(LIKE(Cliente.q.nombre, 'Ana _%'))
list(resultado)

[<Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>]

In [35]:
resultado = Cliente.select(Cliente.q.direccion == "Ronda").distinct()
list(resultado)

[<Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>]

#### Funciones de Agrupación

In [36]:
# Número de cliente cuyos nombres comiencen por A
resultado = Cliente.select( LIKE(Cliente.q.nombre, 'A%')).count()
resultado

3

In [37]:
# Promedio o media de los id
resultado = Cliente.select().avg(Cliente.q.id)
resultado

3.0

In [38]:
# Suma de los id
resultado = Cliente.select().sum(Cliente.q.id)
resultado

15

In [39]:
# Valor mínimo en id
resultado = Cliente.select().min(Cliente.q.id)
resultado

1

In [40]:
# Valor máximo en id
resultado = Cliente.select().max(Cliente.q.id)
resultado

5

In [41]:
# Valor suma acumulada de id
resultado = Cliente.select().accumulateOne('sum', 'id')
resultado

15

In [42]:
# Valor suma acumulada de id y minimo id
resultado = Cliente.select().accumulateMany(('sum', 'id'), ('min', Cliente.q.id))
resultado

(15, 1)

In [43]:
# Valor Cantidad total de registros y máximo id
resultado = Cliente.select().accumulate('count(*)', 'max(id)')
resultado

(5, 5)

### Ordenar Consultas

In [44]:
resultado = Cliente.select( orderBy=Cliente.q.nombre )
list(resultado)

[<Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>,
 <Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>]

In [45]:
resultado = Cliente.select( orderBy='Cliente.nombre' )
list(resultado)

[<Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>,
 <Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>]

In [46]:
resultado = Cliente.select( orderBy=DESC(Cliente.q.nombre ))
list(resultado)

[<Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>]

In [47]:
resultado = Cliente.select(  orderBy='-Cliente.nombre' )
list(resultado)

[<Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>]

In [48]:
resultado = Cliente.select(  orderBy='Cliente.nombre' ).reversed()
list(resultado)

[<Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>]

In [49]:
resultado = Cliente.select( orderBy=['cliente.nombre', '-cliente.direccion'] )
list(resultado)

[<Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>,
 <Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>]

In [50]:
resultado = Cliente.select( orderBy=[Cliente.q.nombre, DESC(Cliente.q.direccion)] )
list(resultado)

[<Cliente 3 nombre='Alejandro' direccion='Ronda' telefono='44555554'>,
 <Cliente 2 nombre='Ana Lucia' direccion='Avenida A' telefono='44555554'>,
 <Cliente 4 nombre='Ana Rosa' direccion='Ronda' telefono='44555554'>,
 <Cliente 5 nombre='Manuel' direccion='Ronda' telefono='44555554'>,
 <Cliente 1 nombre='MariCarmen' direccion='Ronda de Nelle' telefono='444444444'>]

### Relaciones entre tablas

In [1]:
from sqlobject import *
import os
from datetime import datetime

PATH_DATA = r'C:\Users\msierra\Desktop\SQLDatabase'
PATH_DATA

'C:\\Users\\msierra\\Desktop\\SQLDatabase'

In [2]:
db_filename = os.path.abspath(PATH_DATA + '\ClientesVentas.db')
connection_string = 'sqlite:' + db_filename
connection = connectionForURI(connection_string)
sqlhub.processConnection = connection

In [3]:
class Clientes(SQLObject):
    nombre = StringCol(default='')
    direccion = StringCol()
    compras = MultipleJoin('Compra')

In [4]:
if not Clientes.tableExists():
    Clientes.createTable()

In [5]:
c1 = Clientes(nombre='Manuel', direccion="Ronda")
c1

In [6]:
class Compras(SQLObject):
    fecha = DateCol()
    costo = DecimalCol(size=7, precision=2)
    cliente = ForeignKey('Clientes')

In [7]:
if not Compras.tableExists():
    Compras.createTable()

In [9]:
compra1 = Compras(fecha='2020-05-20', costo=125.00, cliente = 1)

In [10]:
c1 = Compras.get(1)
c1

In [11]:
c2 = Clientes(nombre='Ana', direccion="Ronda")
for i in range(1, 10):
    Compras(fecha=datetime(2019, 4, i), costo=i * 10, cliente = c2)

In [13]:
resultado = Clientes.select( )
list(resultado)

[<Clientes 1 nombre='Manuel' direccion='Ronda'>,
 <Clientes 2 nombre='Manuel' direccion='Ronda'>,
 <Clientes 3 nombre='Manuel' direccion='Ronda'>,
 <Clientes 4 nombre='Ana' direccion='Ronda'>]

In [12]:
resultado = Compras.select( )
list(resultado)

[<Compras 1 fecha='datetime.date(202...)' costo=125 clienteID=1>,
 <Compras 2 fecha='datetime.date(201...)' costo=10 clienteID=4>,
 <Compras 3 fecha='datetime.date(201...)' costo=20 clienteID=4>,
 <Compras 4 fecha='datetime.date(201...)' costo=30 clienteID=4>,
 <Compras 5 fecha='datetime.date(201...)' costo=40 clienteID=4>,
 <Compras 6 fecha='datetime.date(201...)' costo=50 clienteID=4>,
 <Compras 7 fecha='datetime.date(201...)' costo=60 clienteID=4>,
 <Compras 8 fecha='datetime.date(201...)' costo=70 clienteID=4>,
 <Compras 9 fecha='datetime.date(201...)' costo=80 clienteID=4>,
 <Compras 10 fecha='datetime.date(201...)' costo=90 clienteID=4>]

### Relaciones varios a varios

In [14]:
from sqlobject import *
import os
from datetime import datetime

PATH_DATA = r'C:\Users\msierra\Desktop\SQLDatabase'
PATH_DATA

'C:\\Users\\msierra\\Desktop\\SQLDatabase'

In [15]:
db_filename = os.path.abspath(PATH_DATA + '\ClientesVentas2.db')
connection_string = 'sqlite:' + db_filename
connection = connectionForURI(connection_string)
sqlhub.processConnection = connection

In [16]:
class Cliente(SQLObject):
    nombre = StringCol(default='')
    direccion = StringCol()
    compras = RelatedJoin('Compra')
    
class Compra(SQLObject):
    fecha = DateCol()
    costo = DecimalCol(size=7, precision=2)
    clientes = RelatedJoin('Cliente')

In [ ]:
# Mostrar la estructura en DBBrowser SQLite

In [17]:
Cliente.createTable()
Compra.createTable()

[]

In [18]:
Juan = Cliente(nombre='Juan', direccion="C/ Alfonso")
Ana = Cliente(nombre='Ana', direccion="C/ Nelle")
compra1 = Compra(fecha=datetime.now(), costo=100)
compra2 = Compra(fecha=datetime.now(), costo=200)

In [19]:
compra1.addCliente(Juan)
compra1.addCliente(Ana)

In [20]:
Juan.compras

In [21]:
Ana.compras

In [22]:
Juan.addCompra(compra2)  # Se utiliza una sola addCLiente o addCompra
Juan.compras

[<Compra 1 fecha='datetime.date(202...)' costo=100>,
 <Compra 2 fecha='datetime.date(202...)' costo=200>]

In [27]:
### Consultas

In [1]:
from sqlobject import *
import os
from datetime import datetime

PATH_DATA = r'C:\Users\msierra\Desktop\SQLDatabase'
PATH_DATA

'C:\\Users\\msierra\\Desktop\\SQLDatabase'

In [2]:
db_filename = os.path.abspath(PATH_DATA + '\ClientesVentas.db')
connection_string = 'sqlite:' + db_filename
connection = connectionForURI(connection_string)
sqlhub.processConnection = connection

In [3]:
class Clientes(SQLObject):
    class sqlmeta:
        fromDatabase = True
    nombre = StringCol(default='')
    direccion = StringCol()
    compras = MultipleJoin('Compra')

class Compras(SQLObject):
    class sqlmeta:
        fromDatabase = True
    fecha = DateCol()
    costo = DecimalCol(size=7, precision=2)
    cliente = ForeignKey('Clientes')

In [5]:
resultado = Clientes.select(AND(Compras.q.clienteID==Clientes.q.id, Compras.q.costo > 100))
list(resultado)

In [7]:
# crear un objeto j Compras.q.clienteID==Clientes.q.id
resultado = Clientes.select(AND(Compras.j.cliente, Compras.q.costo > 100))
list(resultado)

In [10]:
resultado = Clientes.select('compras.cliente_id = clientes.id AND compras.costo > 100', clauseTables=['compras'])
list(resultado)

In [27]:
# Forzando las consultas de JOIN 
from sqlobject.sqlbuilder import LEFTJOINOn

resultado = Clientes.select(join=LEFTJOINOn(Clientes, Compras, Compras.j.cliente), distinct=True)
list(resultado)

[<Clientes 1 nombre='Manuel' direccion='Ronda'>,
 <Clientes 2 nombre='Manuel' direccion='Ronda'>,
 <Clientes 3 nombre='Manuel' direccion='Ronda'>,
 <Clientes 4 nombre='Ana' direccion='Ronda'>]

In [31]:
from sqlobject.sqlbuilder import Alias
aliasCliente = Alias(Clientes, "Cliente_2")

In [38]:
resultado = Clientes.select(
            AND(Clientes.q.id != aliasCliente.q.id, Clientes.q.nombre == aliasCliente.q.nombre)
                , distinct = True)
list(resultado)

[<Clientes 1 nombre='Manuel' direccion='Ronda'>,
 <Clientes 2 nombre='Manuel' direccion='Ronda'>,
 <Clientes 3 nombre='Manuel' direccion='Ronda'>]

In [ ]:
## Subconsultas

In [45]:
resultado = Compras.select()
           
list(resultado)

[<Compras 1 fecha='datetime.date(202...)' costo=125 clienteID=1>,
 <Compras 2 fecha='datetime.date(201...)' costo=10 clienteID=4>,
 <Compras 3 fecha='datetime.date(201...)' costo=20 clienteID=4>,
 <Compras 4 fecha='datetime.date(201...)' costo=30 clienteID=4>,
 <Compras 5 fecha='datetime.date(201...)' costo=40 clienteID=4>,
 <Compras 6 fecha='datetime.date(201...)' costo=50 clienteID=4>,
 <Compras 7 fecha='datetime.date(201...)' costo=60 clienteID=4>,
 <Compras 8 fecha='datetime.date(201...)' costo=70 clienteID=4>,
 <Compras 9 fecha='datetime.date(201...)' costo=80 clienteID=4>,
 <Compras 10 fecha='datetime.date(201...)' costo=90 clienteID=4>]

In [46]:
from sqlobject.sqlbuilder import NOTEXISTS, IN, EXISTS, Select, Outer

resultado = Clientes.select(
            IN(20, Select(Compras.q.costo, where=Compras.q.id==Outer(Clientes).q.id) ) # hace referencia a la tabla Clientes
                            )
list(resultado)

In [48]:
resultado = Clientes.select( EXISTS( Select(
                Compras.q.id, where=AND(Compras.q.clienteID==Outer(Clientes).q.id,
            Compras.q.costo>100)
             ) ) )
list(resultado)

In [55]:
Clientes._connection.debug = True

In [56]:
resultado = Clientes.select()
list(resultado)

 6/Select  :  SELECT clientes.id, clientes.nombre, clientes.direccion FROM clientes WHERE 1 = 1
 6/QueryR  :  SELECT clientes.id, clientes.nombre, clientes.direccion FROM clientes WHERE 1 = 1
 6/COMMIT  :  auto

[<Clientes 1 nombre='Manuel' direccion='Ronda'>,
 <Clientes 2 nombre='Manuel' direccion='Ronda'>,
 <Clientes 3 nombre='Manuel' direccion='Ronda'>,
 <Clientes 4 nombre='Ana' direccion='Ronda'>]

### Técnicas avanzadas con SQLObject

In [1]:
from sqlobject import *
import os
from datetime import datetime

PATH_DATA = r'C:\Users\msierra\Desktop\SQLDatabase'

In [2]:
db_filename = os.path.abspath(PATH_DATA + '\ClientesVentasTA.db')
connection_string = 'sqlite:' + db_filename
connection = connectionForURI(connection_string)
sqlhub.processConnection = connection

In [3]:
class Cliente(SQLObject): 
    nombre = StringCol(default='d', alternateID=True) 
    direccion = StringCol() 

    def info(self): 
        return "Cliente: {}, dirección {}".format(self.nombre, self.direccion)

    def __init__(self, telefono=None, **kw):
        self.tel = telefono
        return super().__init__( **kw)
    
    def _get_telefono(self):
        return self.tel
    
    def _set_telefono(self, value):
        self.tel = value
        
    def _del_telefono(self, value):
        del(self.tel)
        
    def _doc_telefono(self):
        return "Teléfono del cliente"

In [4]:
Cliente.createTable()

[]

In [5]:
Juan = Cliente(nombre='Juan', direccion="Alfonso")
Ana = Cliente(nombre='Ana', direccion="Nelle")

In [6]:
c1 = Cliente.get(1)
print( c1.info() )

Cliente: Juan, dirección Alfonso

In [8]:
Maria = Cliente(telefono='1111111', nombre='Maria', direccion="Ronda")
Maria.telefono = "2222222"

In [9]:
print(Maria.telefono)

2222222

In [10]:
Alejandro = Cliente(telefono='55555', nombre='Alejandro', direccion="Ronda")
Alejandro.telefono

'55555'

In [11]:
Alejandro.telefono = "4562686"

In [12]:
Alejandro.telefono

'4562686'

In [15]:
Alejandro._del_telefono("4562686")

In [17]:
Alejandro._get_telefono

### Modificando los atributos de columnas

In [1]:
from sqlobject import *
import os
from datetime import datetime

PATH_DATA = r'C:\Users\msierra\Desktop\SQLDatabase'

In [2]:
db_filename = os.path.abspath(PATH_DATA + '\ClientesVentasMP.db')
connection_string = 'sqlite:' + db_filename
connection = connectionForURI(connection_string)
sqlhub.processConnection = connection

In [3]:
class Cliente(SQLObject):
    nombre = StringCol(default='d', alternateID=True)
    direccion = StringCol()
    
    def _get_nombre(self):
        return self._SO_get_nombre().capitalize()
    
    def _set_nombre(self, value):
        self._SO_set_nombre(value.capitalize())

In [4]:
Cliente.createTable()

[]

In [5]:
Juan = Cliente(nombre='juan', direccion="Calle Alfonso")
Juan.nombre

'Juan'

### Herencia

In [1]:
from sqlobject import *
import os

PATH_DATA = r'C:\Users\msierra\Desktop\SQLDatabase'

In [2]:
db_filename = os.path.abspath(PATH_DATA + '\ClientesH.db')
connection_string = 'sqlite:' + db_filename
connection = connectionForURI(connection_string)
sqlhub.processConnection = connection

In [3]:
from sqlobject import *
from sqlobject.inheritance import InheritableSQLObject

class Cliente(InheritableSQLObject):
    nombre = StringCol(length=100, default='', alternateID=True)
    direccion = StringCol()

class Ocasional(Cliente):
    _inheritable = False
    fecha = DateCol()
    
class Habitual(Cliente):
    _inheritable = False
    descuento = FloatCol(default= 0.1)

In [4]:
Cliente.createTable()

[]

In [6]:
Ocasional.createTable()

[]

In [7]:
Habitual.createTable()

[]

In [8]:
Ocasional(nombre='Juan', direccion='Madrid', fecha='2017-01-04' )
Habitual(nombre='María', direccion='Jeréz', descuento=0.2 )
Ocasional(nombre='Andrés', direccion='Lugo', fecha='2019-02-04' )

In [ ]:
# Consulta DB Browser SQLite

In [9]:
print(list(Cliente.select()))

[<Ocasional 2 fecha='datetime.date(201...)' nombre='Juan' direccion='Madrid'>, <Habitual 3 descuento=0.2 nombre='María' direccion='Jeréz'>, <Ocasional 4 fecha='datetime.date(201...)' nombre='Andrés' direccion='Lugo'>]

In [10]:
print(list(Ocasional.select()))

[<Ocasional 2 fecha='datetime.date(201...)' nombre='Juan' direccion='Madrid'>, <Ocasional 4 fecha='datetime.date(201...)' nombre='Andrés' direccion='Lugo'>]

In [11]:
print(list(Habitual.select()))

[<Habitual 3 descuento=0.2 nombre='María' direccion='Jeréz'>]

In [12]:
a = Ocasional.select(Cliente.q.nombre == 'Juan')[0]
a.nombre = 'Juan Antonio'

In [13]:
print(list(Cliente.select()))

[<Ocasional 2 fecha='datetime.date(201...)' nombre='Juan Antonio' direccion='Madrid'>, <Habitual 3 descuento=0.2 nombre='María' direccion='Jeréz'>, <Ocasional 4 fecha='datetime.date(201...)' nombre='Andrés' direccion='Lugo'>]

In [14]:
print(list(Ocasional.select()))

[<Ocasional 2 fecha='datetime.date(201...)' nombre='Juan Antonio' direccion='Madrid'>, <Ocasional 4 fecha='datetime.date(201...)' nombre='Andrés' direccion='Lugo'>]

In [16]:
Ocasional.delete(2)

In [17]:
resultado = Habitual.select(Habitual.q.descuento > 0.1)
print(list(resultado))

[<Habitual 3 descuento=0.2 nombre='María' direccion='Jeréz'>]